*.swp
*.pyc

.rust/
bin/
lib/
build/

/Debug/
/Release/
/ipch/
/*.opensdf
/OpenVikings.sdf
/OpenVikings.*.suo
/OpenVikings.vcxproj.user
/SDL2.dll

/chunks/
/data.dat
/vikings.exe
/vikings.map
/vikings/
/resources/
